
<div class="container-fluid bg-light">
    <div class="text-center text-lg-start text-dark">
      <div class="container">
        <section>
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-2">
              <h6 class="text-uppercase mb-2 font-weight-bold">
                SAHONERO S.R.L.
              </h6>
              <p>
                Empresa de telecomunicaciones, brinda servicios de mantenimiento e instalaciones,
                en los barrios de Lugano y Retiro.
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-2">
            </div>
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2 text-center">
              <h6 class="text-uppercase mb-3 font-weight-bold">Teconologia utilizada</h6>
              <p><img src="/img/html.svg" width="20" alt="html" class="icon me-3">
                <img src="/img/bootstrap.svg" width="25" alt="Boostratp" class="icon me-3">
                <img src="/img/javascript.svg" width="23" alt="javascript" class="icon me-3"></p>
              <p><img src="/img/nodejs.svg" width="50" alt="nodejs" class="icon me-3">
                <img src="/img/mysql.svg" width="45" alt="mysql" class="icon me-3">
              </p>
            </div>
          </div>
        </section>
        <hr class="my-1">
        <section class="p-2 pt-0">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <div class="p-2">
                <img src="/img/3 Logos-negro@0.5x.png" width="250" alt="3logos">
              </div>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <div class="p-1">
                <p class="Copyright">&copy; 2022 Copyright: David Gutierrez</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
