<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahonero</title>
    <link rel="stylesheet" href="/views/styles/bootstrap.min.css">
</head>
<body>
    <header></header>
    <main><%- body %></main>
    <footer></footer>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>
</html>