<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahonero</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style-layout.css">
</head>
<body>
    <header>
        <% if(rol == 'Super-Admin'){ %>
            <%-include('../partials/nav-super')%>
        <%}else{%>
            <%-include('../partials/nav-funciones')%>
        <%}
        %>
    </header>
    <main><%- body %></main>
    <footer class="bg-ligth">
        <%- include('../partials/footer') -%>    
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>