<div class="container-fluid">

<div class="row justify-content-center p-5">
    <div class="col-10 col-sm-4 col-md-4 col-xl-2">
        <h1 class="fs-4 fw-bold text-secondary">Iniciar Session</h1>
    </div>
</div>

<div class="row justify-content-center bg-dark text-white p-5">
    <div class="col-12 col-sm-4 col-md-4 col-xl-3">
        <form action="/" method="post">
          <div class="input-group mb-3">
            <span class="input-group-text" id="usuario"><i class="bi bi-person-fill"></i></span>
            <input type="text" id="usuario" class="form-control" placeholder="Usuario" aria-label="usuario" aria-describedby="usuario">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="password"><i class="bi bi-shield-lock-fill"></i></span>
            <input type="password" id="password" class="form-control" placeholder="Contraseña" aria-label="password" aria-describedby="password">
          </div>
            <div class="mb-3">
                <span>¿Olvido su contraseña? <a href="#" class="fw-bold text-primary text-decoration-none">Recuperar</a></span>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
    </div>
</div>

</div>

