
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
margin{
    min-width: 100vh;
}

.Copyright{
    font-size: x-small;
}

.icon{
    filter: grayscale(100%);
}

.e-insta{
    border: 1px solid green;
    background-color:lightgreen;
}

.e-recup{
    border: 1px solid crimson;
    background-color:lightpink;
}

.b-mas{
    display: inline-block;
}

/*ajustes de tabla*/
.dato-oc{
    visibility: collapse;
    display: none;
}

table{
    font-size: small;
}