
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
margin{
    min-width: 100vh;
}

.icon{
    filter: grayscale(100%);
}

.e-insta{
    border: 1px solid green;
    background-color:lightgreen;
}

.e-recup{
    border: 1px solid crimson;
    background-color:lightpink;
}

.b-mas{
    display: inline-block;
}

/*ajustes de tabla*/
.dato-oc{
    visibility: collapse;
    display: none;
}

thead{
    height: 10px;
    font-size: .8rem;
    text-align: center;
}
.table td{
    height: 10px;
    font-size: .9rem;
    padding: 2px;
    text-align: center;
}
