<div class="container mt-5">
    <div class="row">
        <div class="col-10">
            <h2 class="text-primary">Bienvenid@, <%= user %></h2>
            <h6 class="text-secondary">Tu perfil es <%= rol %></h6>

            <div class="alert alert-primary my-4 fst-italic" role="alert">
                Tu funcion adicional como Super-Admin sera el de gestionar los usuarios y admin que manejen la pagina.
            </div>
            <h5>El motivo de la página</h5>
            <p>
                Fue creada y pensada para organizar mejor la información que se estaba pasando a través de e-mails.<br>
                Con esta página podremos consolidar toda la información enviada por el contratista, y todas las respuestas de la administración.<br>
                Creando entre ambas partes una buena base de datos con todos los registros de instalaciones y services que se hacen día a día.<br>
                En el futuro podremos aprovechar esta BD para poder gestionar mejor los consumos y recuperós de equipos.
            </p>
            <h5>¿Cómo funciona?</h5>
            <p class="text-wrap">
                Existirán dos perfiles que manejaran la página.<br>
                <ul>
                    <li>
                        Pefil: Usuario
                    </li>
                    <li>
                        Perfil: Administrativo
                    </li>
                </ul>
                El perfil de <span class="text-decoration-underline">Usuario</span> lo tendrá a cargo el <span class="fw-bold">Contratista.</span><br>
                Podrá generar registros sea para pedir el cierre de una orden, o pedir información.<br>
                Por defecto todos los registros que genere, tendrán  el estado <span class="fst-italic">"PENDIENTE"</span>,por lo que la administración deberá de cambiar este estado cuando realice la gestión.<br>
                El perfil de usuario contará con su apartado para poder visualizar todos los registros creados con sus estados en tiempo real.<br>
                Solo contará con la opción de AGREGAR un comentario al registro, para dar aviso si es que el registro lo haya generado mal.<br>
            </p>
            <p class="text-wrap">
                El perfil de <span class="text-decoration-underline">Administrativo</span> lo tendra a cargo la <span class="fw-bold">Administración.</span><br>
                Estará a cargo de contestar todos los registro, como de mails se tratase.<br>
                Tendrá la opción de asignarse las líneas de registro que desee realizar, modificar los registros, completar con lo que haga falta y dar cierre cambiando el estado del registro a  
                <span class="fst-italic">"CERRADO"</span>.
            </p>
        </div>
    </div>
</div>