<div class="container mt-5">
    <div class="row">
        <div class="col-10">
            <h2 class="text-primary">Bienvenido, UsuarioX</h2>
            <h5 class="mt-5">El motivo de la pagina</h5>
            <p>
                Fue creada y pensada para organizar mejor la informacion que se estaba pasando a traves de e-mails.<br>
                Con esta pagina podremos consolidar toda la informacion enviada por el contratista, y todas las respuestas de la administracion.<br>
                Creando entre ambas partes una buena base de datos con todos los registros de instalaciones y services que se hacen dia a dia.<br>
                En el futuro podremos aprobechar esta BD para poder gestionar mejor los consumos y recuperos de equipos.
            </p>
            <h5>¿Como funciona?</h5>
            <p class="text-wrap">
                Existiran dos perfiles que manejaran la pagina.<br>
                <ul>
                    <li>
                        Pefil : Usuario
                    </li>
                    <li>
                        Perfil : Administrativo
                    </li>
                </ul>
                El perfil de <span class="text-decoration-underline">Usuario</span> lo tendra a cargo el <span class="fw-bold">Contratista.</span><br>
                Podra generar registros sea para pedir el cierre de una orden, o pedir informacion.<br>
                Por defecto todos los registros que genere, tendran el estado <span class="fst-italic">"PENDIENTE"</span>,por lo que la administracion debera de cambiar este estado cuando realice la gestion.<br>
                El perfil de usuario contara con su apartado para poder visualizar todos los registros creados con sus estados en tiempo real.
                Solo contara con la opcion de BORRAR el registro, cuando por error lo haya generado mal.
            </p>
            <p class="text-wrap">
                El perfil de <span class="text-decoration-underline">Administrativo</span> lo tendra a cargo la <span class="fw-bold">Administracion.</span><br>
                Estara a cargo de contestar todos los registro, como de mails se tratase.
                Tendra la opcion de asignarse las lineas de registro que desee realizar, modificar los registros, completar con lo que haga falta y dar cierre cambiando el estado del registro a 
                <span class="fst-italic">"CERRADO"</span>.
            </p>
            <hr>
        </div>
    </div>
</div>